blockquote {
  border-left: 5px solid #7a7a7a;
  font-style: normal;
  margin-left: $space-1;
  padding: $space-1;
  font-size: $base-font-size;
  text-align: justify;
}

blockquote footer {
  background-color: #fff;
  border-color: transparent;
  color: #7a7a7a;
  font-size: .85rem;
  font-style: normal;
  text-align: left;
  padding: 0;
}
